<div id="custom-header" style="padding: 15px; color: white; margin: 0; font-size: 28px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 15px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b> üîÆ Battery Data Dashboard Creation-Data Loading and Preprocessing</b>
</div>

<div style="border-radius: 10px; border: 2px solid black; padding: 15px; background-color: white; font-family: 'Times New Roman', Times, serif; font-size: 110%; text-align: left;">

<h3 align="left"><font color="#6D214F">üìù Project Overview</font></h3>   

<p>This project involves the creation of a battery data dashboard utilizing Streamlit for data visualization, Flask for REST API endpoints, and SQLite for data storage. The project includes data preprocessing, unit test coverage, secure authentication, pagination, filtering, and API documentation.</p>


<h3 align="left"><font color="#6D214F"> Purpose:</font></h3>

<p>Key Components to achieve</p>

<ul>
  <li><b>1.Data Loading and Preprocessing</b></li>
  <li><b>2.Database Integration with SQLite</b></li>
  <li><b>3.REST API Development with Flask</b></li>
  <li><b>4.Data Visualization with Streamlit and Plotly</b></li>
  <li><b>5.Unit Testing and Test Coverage</b></li>
  <li><b>6.Basic Authentication for API Endpoints</b></li>
  <li><b>7.Pagination and Filtering in API Endpoints</b></li>
  <li><b>8.OpenAPI Specification-based API Documentation</b></li>
  <li><b>9.Deployment on Streamlit Cloud</b></li>
</ul>

<p>The project aims to provide a valuable tool for analyzing and visualizing battery performance data.

</p>

</div>

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Importing Libraries </b>
</div>

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
from datetime import datetime, time

In [2]:
#Set the maximum number of displayed columns for Pandas DataFrames to 'None' (display all columns)
pd.set_option('display.max_columns', None)

#Set the maximum number of displayed rows for Pandas DataFrames to 200
pd.set_option('display.max_rows', 200)

#Set the maximum column width to 'None' (display complete content)
pd.set_option('display.max_colwidth', None)

#Set the maximum width of the display in characters
pd.set_option('display.width', 1000)

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Loading Dataset </b>
</div>

In [3]:
# Load the Excel files
file_5308 = '5308.xls'
file_5329 = '5329.xls'

# Read the Excel file into a pandas DataFrame
xls_5308 = pd.ExcelFile(file_5308)
xls_5329 = pd.ExcelFile(file_5329)

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Data Pre-Processing </b>
</div>

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS,bold; color: #0A3399; padding: 10px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 22px;border-style: solid;border-color: dark green;"> Initial Inspection of Data</div>

In [4]:
# Display sheet names to understand the structure of the Excel file
print(f"Sheets in {file_5308}: {xls_5308.sheet_names}")
print(f"Sheets in {file_5329}: {xls_5329.sheet_names}")

Sheets in 5308.xls: ['Info', 'Cycle_67_3_5', 'Statis_67_3_5', 'Detail_67_3_5', 'DetailVol_67_3_5', 'DetailTemp_67_3_5']
Sheets in 5329.xls: ['Info', 'Cycle_67_3_1', 'Statis_67_3_1', 'Detail_67_3_1', 'DetailVol_67_3_1', 'DetailTemp_67_3_1']

In [5]:
# Load specific sheets based on the sheet names or indices
sheet_5308_4 = xls_5308.parse(xls_5308.sheet_names[3])  # Load the 4th sheet 
sheet_5308_6 = xls_5308.parse(xls_5308.sheet_names[5])  # Load the 6th sheet 

sheet_5329_4 = xls_5329.parse(xls_5329.sheet_names[3])  # Load the 4th sheet 
sheet_5329_6 = xls_5329.parse(xls_5329.sheet_names[5])  # Load the 6th sheet

In [6]:
# Inspect the loaded sheets
print(sheet_5308_4.head())
print(sheet_5308_6.head())

   Record Index Status  JumpTo  Cycle  Step  Cur(mA)  Voltage(V)  CapaCity(mAh)  Energy(mWh) Relative Time(h:min:s.ms)       Absolute Time
0             1   Rest       1      1     1      0.0        3.59            0.0          0.0               0:00:00.000 2019-11-15 19:28:43
1             2   Rest       1      1     1      0.0        3.59            0.0          0.0               0:00:01.000 2019-11-15 19:28:44
2             3   Rest       1      1     1      0.0        3.59            0.0          0.0               0:00:02.000 2019-11-15 19:28:45
3             4   Rest       1      1     1      0.0        3.59            0.0          0.0               0:00:03.000 2019-11-15 19:28:46
4             5   Rest       1      1     1      0.0        3.59            0.0          0.0               0:00:04.000 2019-11-15 19:28:47
   Record ID Step Name Relative Time(h:min:s.ms)            Realtime  Auxiliary channel TU1 T(¬∞C)  Gap of Temperature
0          1      Rest               0:00:00.000 2019-11-15 19:28:43                         37.4                   0
1          2      Rest               0:00:01.000 2019-11-15 19:28:44                         37.4                   0
2          3      Rest               0:00:02.000 2019-11-15 19:28:45                         37.4                   0
3          4      Rest               0:00:03.000 2019-11-15 19:28:46                         37.4                   0
4          5      Rest               0:00:04.000 2019-11-15 19:28:47                         37.3                   0

In [7]:
print(sheet_5329_4.head())
print(sheet_5329_6.head())

   Record Index Status  JumpTo  Cycle  Step  Cur(mA)  Voltage(V)  CapaCity(mAh)  Energy(mWh) Relative Time(h:min:s.ms)       Absolute Time
0             1   Rest       1      1     1      0.0      3.5897            0.0          0.0               0:00:00.000 2019-11-15 19:38:18
1             2   Rest       1      1     1      0.0      3.5897            0.0          0.0               0:00:01.000 2019-11-15 19:38:19
2             3   Rest       1      1     1      0.0      3.5897            0.0          0.0               0:00:02.000 2019-11-15 19:38:20
3             4   Rest       1      1     1      0.0      3.5897            0.0          0.0               0:00:03.000 2019-11-15 19:38:21
4             5   Rest       1      1     1      0.0      3.5897            0.0          0.0               0:00:04.000 2019-11-15 19:38:22
   Record ID Step Name Relative Time(h:min:s.ms)            Realtime  Auxiliary channel TU1 T(¬∞C)  Gap of Temperature
0          1      Rest               0:00:00.000 2019-11-15 19:38:18                         32.2                   0
1          2      Rest               0:00:01.000 2019-11-15 19:38:19                         32.3                   0
2          3      Rest               0:00:02.000 2019-11-15 19:38:20                         32.1                   0
3          4      Rest               0:00:03.000 2019-11-15 19:38:21                         32.2                   0
4          5      Rest               0:00:04.000 2019-11-15 19:38:22                         32.1                   0

In [8]:
print('Shape of Cell_id 5329 sheet 4:',sheet_5329_4.shape)
print('Shape of Cell_id 5329 sheet 6:',sheet_5329_6.shape)

Shape of Cell_id 5329 sheet 4: (29602, 11)
Shape of Cell_id 5329 sheet 6: (29602, 6)

In [9]:
print('Shape of Cell_id 5308 sheet 4:',sheet_5308_4.shape)
print('Shape of Cell_id 5308 sheet 6:',sheet_5308_6.shape)

Shape of Cell_id 5308 sheet 4: (29403, 11)
Shape of Cell_id 5308 sheet 6: (29403, 6)

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS,bold; color: #0A3399; padding: 10px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 22px;border-style: solid;border-color: dark green;"> Extracting Required Data</div>

In [10]:
# Extract relevant columns for Cell 5308
current_5308 = sheet_5308_4.iloc[:, 5]  # Column No: 6 
voltage_5308 = sheet_5308_4.iloc[:, 6]  # Column No: 7 
capacity_5308 = sheet_5308_4.iloc[:, 7]  # Column No: 8 
time_5308 = sheet_5308_4.iloc[:, 10]  # Column No: 11 
temperature_5308 = sheet_5308_6.iloc[:, 4]  # Column No: 5 

# Create a DataFrame for Cell 5308
data_5308 = {
    'cell_id': ['5308'] * len(current_5308),
    'current': current_5308,
    'voltage': voltage_5308,
    'capacity': capacity_5308,
    'temperature': temperature_5308,
    'time': time_5308
}

df_5308 = pd.DataFrame(data_5308)

# Extract relevant columns for Cell 5329
current_5329 = sheet_5329_4.iloc[:, 5]
voltage_5329 = sheet_5329_4.iloc[:, 6]
capacity_5329 = sheet_5329_4.iloc[:, 7]
time_5329 = sheet_5329_4.iloc[:, 10]
temperature_5329 = sheet_5329_6.iloc[:, 4]

data_5329 = {
    'cell_id': ['5329'] * len(current_5329),
    'current': current_5329,
    'voltage': voltage_5329,
    'capacity': capacity_5329,
    'temperature': temperature_5329,
    'time': time_5329
}

df_5329 = pd.DataFrame(data_5329)

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS,bold; color: #0A3399; padding: 10px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 22px;border-style: solid;border-color: dark green;"> Inspection of Data-After Extraction</div>

In [11]:
df_5308.sample(n=10)

      cell_id  current  voltage     capacity  temperature                time
2413     5308    900.6   3.7512   450.740306         28.7 2019-11-15 20:08:51
19350    5308   -900.6   3.4737  2198.054667         27.9 2019-11-16 00:51:05
2248     5308    900.6   3.7406   409.478472         28.9 2019-11-15 20:06:06
28956    5308      0.0   3.5940     0.000000         27.9 2019-11-16 03:31:07
4499     5308    900.2   3.9025   972.904000         28.3 2019-11-15 20:43:37
21436    5308   -900.2   3.2812  2720.263111         28.8 2019-11-16 01:25:51
3014     5308    901.0   3.7930   601.150667         28.7 2019-11-15 20:18:52
27241    5308    274.9   3.6005   891.935444         28.1 2019-11-16 03:02:33
13275    5308   -900.2   3.8681   677.242444         28.1 2019-11-15 23:09:50
24306    5308    900.6   3.4858   295.200306         28.3 2019-11-16 02:13:38

In [12]:
df_5308.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29403 entries, 0 to 29402
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cell_id      29403 non-null  object
 1   current      29403 non-null  float64
 2   voltage      29403 non-null  float64
 3   capacity     29403 non-null  float64
 4   temperature  29403 non-null  float64
 5   time         29403 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.3+ MB

In [13]:
df_5308.describe()

            current       voltage      capacity   temperature                           time
count  29403.000000  29403.000000  29403.000000  29403.000000                          29403
mean       0.129715      3.726713   1092.063330     28.488851  2019-11-15 23:33:36.357548288
min     -901.400000      3.000000      0.000000     27.600000            2019-11-15 19:28:43
25%     -900.600000      3.555600    411.479583     28.000000     2019-11-15 21:31:08.500000
50%      102.300000      3.672800    933.525778     28.300000            2019-11-15 23:33:36
75%      900.600000      3.942800   1747.073500     28.600000     2019-11-16 01:36:06.500000
max      901.400000      4.201600   2992.507111     37.400000            2019-11-16 03:38:33
std      798.067159      0.273385    812.350158      1.159274                            NaN

In [14]:
df_5329.sample(n=10)

      cell_id  current  voltage     capacity  temperature                time
9215     5329    210.9   4.2007  2013.443556         27.6 2019-11-15 22:11:47
163      5329      0.0   3.5897     0.000000         30.9 2019-11-15 19:40:56
2905     5329    901.0   3.7856   573.882111         28.0 2019-11-15 20:26:37
23474    5329    900.6   3.4080    55.285722         27.3 2019-11-16 02:09:21
21048    5329   -900.6   3.3441  2620.878889         27.7 2019-11-16 01:28:58
25228    5329    900.6   3.5435   494.016167         27.5 2019-11-16 02:38:35
22690    5329      0.0   3.2304     0.000000         28.3 2019-11-16 01:56:18
13288    5329   -900.6   3.8687   678.244500         27.1 2019-11-15 23:19:38
8045     5329    900.6   4.2004  1860.627222         27.9 2019-11-15 21:52:17
28165    5329    156.6   3.6008   953.157333         27.3 2019-11-16 03:27:32

In [15]:
df_5329.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29602 entries, 0 to 29601
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cell_id      29602 non-null  object
 1   current      29602 non-null  float64
 2   voltage      29602 non-null  float64
 3   capacity     29602 non-null  float64
 4   temperature  29602 non-null  float64
 5   time         29602 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.4+ MB

In [16]:
df_5329.describe()

            current       voltage      capacity   temperature                           time
count  29602.000000  29602.000000  29602.000000  29602.000000                          29602
mean       0.276515      3.725269   1101.484092     27.492399  2019-11-15 23:44:50.511924736
min     -901.000000      3.000000      0.000000     26.800000            2019-11-15 19:38:18
25%     -900.600000      3.550000    415.728118     27.200000  2019-11-15 21:41:32.249999872
50%      101.900000      3.671200    948.363278     27.400000     2019-11-15 23:44:50.500000
75%      900.600000      3.942200   1756.728944     27.700000  2019-11-16 01:48:10.750000128
max      901.400000      4.202300   3022.022667     32.300000            2019-11-16 03:51:27
std      799.716351      0.274474    819.081594      0.522431                            NaN

<div style="border-radius:10px;border:#254E58 solid;padding: 15px;background-color:white;font-size:110%;text-align:left">

- From the Dataset based on the insights we found there is no need of any other preprocess further.
- Now we can concatenate the dataframes of both cells.

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS,bold; color: #0A3399; padding: 10px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 22px;border-style: solid;border-color: dark green;"> Concatenate Data</div>

In [17]:
# Combine both DataFrames
df_combined = pd.concat([df_5308, df_5329])

# Display the combined DataFrame
print('Shape of Combined Data Frame:',df_combined.shape)
print(df_combined.sample(20))

Shape of Combined Data Frame: (59005, 6)
      cell_id  current  voltage     capacity  temperature                time
21145    5308   -900.6   3.3212  2647.414222         28.7 2019-11-16 01:21:00
27249    5308    273.0   3.6002   892.544333         28.1 2019-11-16 03:02:41
23506    5329    901.0   3.4095    63.290861         27.6 2019-11-16 02:09:53
11379    5329   -900.6   4.0401   200.640694         27.2 2019-11-15 22:47:49
6234     5308    900.6   4.0314  1407.242889         28.4 2019-11-15 21:12:32
753      5329    900.6   3.6489    35.525611         28.4 2019-11-15 19:50:45
19340    5308   -900.6   3.4743  2195.551333         27.9 2019-11-16 00:50:55
6255     5329    900.6   4.0327  1412.519444         27.7 2019-11-15 21:22:27
2867     5308    900.6   3.7825   564.350778         28.8 2019-11-15 20:16:25
14918    5308   -900.6   3.7465  1088.550222         28.0 2019-11-15 23:37:13
10150    5329      0.0   4.1917     0.000000         27.2 2019-11-15 22:27:21
13716    5308   -900.6   3.8349   787.642222         28.0 2019-11-15 23:17:11
24672    5308    900.6   3.5184   386.726250         28.3 2019-11-16 02:19:44
6845     5308    900.6   4.0910  1560.200444         28.4 2019-11-15 21:22:43
1399     5308    901.0   3.6864   197.152778         29.4 2019-11-15 19:51:57
4822     5329    900.6   3.9254  1053.783000         27.6 2019-11-15 20:58:34
26467    5308    541.6   3.6002   808.253778         28.2 2019-11-16 02:49:39
17522    5329   -900.6   3.5701  1738.182000         26.9 2019-11-16 00:30:12
24266    5329    900.6   3.4570   253.433917         27.5 2019-11-16 02:22:33
7703     5329    900.6   4.1713  1775.011111         27.9 2019-11-15 21:46:35

In [18]:
df_combined.to_excel('combined_data.xlsx', index=False)

In [19]:
# The following data provided for SoH 
discharge_capacity_5308 = 2992.02
nominal_capacity_5308 = 3000

soh_5308 = round((discharge_capacity_5308 / nominal_capacity_5308) * 100, 2)
print(f"State of Health for Cell 5308: {soh_5308}%")

discharge_capacity_5329 = 2822.56
nominal_capacity_5329 = 3000

soh_5329 = round((discharge_capacity_5329 / nominal_capacity_5329) * 100, 2)
print(f"State of Health for Cell 5329: {soh_5329}%")

State of Health for Cell 5308: 99.73%
State of Health for Cell 5329: 94.09%