In [ ]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import IntegrityError
class sql_work():
    def __init__(self) :
        #for connections to mysql
        self.connection1 = mysql.connector.connect(
            host='127.0.0.1',
            user='root',
            password='1234',
            database='you_harvest'
        )
        self.curs1 = self.connection1.cursor()
        self.engine = create_engine('mysql+mysqlconnector://root:1234@127.0.0.1/you_harvest', echo=True)
    def table_creation(self):
        #creating tables if not exists

In [6]:

import sqlite3
from sqlalchemy import create_engine
from sqlalchemy.exc import IntegrityError

In [11]:
conn1,curs1,engine=get_connections()

In [13]:
close_connections(curs1,conn1)

In [14]:
def get_connections():#for usage connection functions is created separately
    try:
        connection1 = sqlite3.connect('battery_database.db')
        curs1 = connection1.cursor()
        engine = create_engine('sqlite:///battery_database.db',echo=True)
        return connection1,curs1,engine
    except Exception as e:
        print(f"Error occured while connecting sql {str(e)}")
def close_connections(curs1,connection1):#close function also created separately
    try:
        curs1.close()
        connection1.close()
    except Exception as e:
        print(f"Error occured while closing cursor and connection {str(e)}")
def table_creation_sql():
    try:
        table_creation_query='''CREATE TABLE IF NOT EXISTS battery_data (
    cell_id INTEGER,
    current REAL,
    voltage REAL,
    capacity REAL,
    temperature REAL,
    time TEXT,
    PRIMARY KEY (cell_id, time)
)'''
        connection1,curs1,engine=get_connections()
        curs1.execute(table_creation_query)
        close_connections(curs1,connection1)
    except Exception as e:
        print(f"Error while creating table: {str(e)}")

def insert_to_sql(final_df):
    try:
        connection1,curs1,engine=get_connections()
        final_df.to_sql('business_cards', engine, if_exists='append', index=False)
        print("Details inserted successfully!")
        close_connections(curs1,connection1)
    except IntegrityError:
        print('Table values already Inserted')

In [15]:
table_creation_sql()

In [16]:
import pandas as pd

In [17]:
final_df=pd.read_excel(r"C:\Users\ksund\Music\Nunam\combined_data.xlsx")

In [18]:
insert_to_sql(final_df)

2024-08-07 23:48:33,519 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-07 23:48:33,571 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("business_cards")
2024-08-07 23:48:33,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-07 23:48:33,571 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("business_cards")
2024-08-07 23:48:33,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-07 23:48:33,638 INFO sqlalchemy.engine.Engine
CREATE TABLE business_cards (
	cell_id BIGINT,
	current FLOAT,
	voltage FLOAT,
	capacity FLOAT,
	temperature FLOAT,
	time DATETIME
)


2024-08-07 23:48:33,638 INFO sqlalchemy.engine.Engine [no key 0.00485s] ()
2024-08-07 23:48:34,941 INFO sqlalchemy.engine.Engine INSERT INTO business_cards (cell_id, current, voltage, capacity, temperature, time) VALUES (?, ?, ?, ?, ?, ?)
2024-08-07 23:48:34,957 INFO sqlalchemy.engine.Engine [generated in 0.99910s] [(5308, 0.0, 3.59, 0.0, 37.4, '2019-11-15 19:28:43.000000'), (5308, 0.0, 3.59, 0.0, 37.4, '2019-11-15 19:28:44.000000'), (5308, 0.0, 3.59, 0.0, 37.4, '2019-11-15 19:28:45.000000'), (5308, 0.0, 3.59, 0.0, 37.4, '2019-11-15 19:28:46.000000'), (5308, 0.0, 3.59, 0.0, 37.3, '2019-11-15 19:28:47.000000'), (5308, 0.0, 3.59, 0.0, 37.4, '2019-11-15 19:28:48.000000'), (5308, -900.6, 3.5627, 0.0, 37.4, '2019-11-15 19:28:49.000000'), (5308, -900.6, 3.5627, 0.025, 37.4, '2019-11-15 19:28:49.000000')  ... displaying 10 of 59005 total bound parameter sets ...  (5329, 0.0, 3.5928, 0.0, 27.2, '2019-11-16 03:51:26.000000'), (5329, 0.0, 3.5928, 0.0, 27.1, '2019-11-16 03:51:27.000000')]
2024-08-07 23:48:35,539 INFO sqlalchemy.engine.Engine COMMIT
Details inserted successfully!